<a href="https://colab.research.google.com/github/sjsjlee/study_financial_data_analysis/blob/main/KTB_interest_rate_crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#국고채 금리

In [ ]:
import pandas as pd

In [ ]:
interest_url = 'https://www.kisrating.com/ratingsStatistics/statics_spread.do'

In [ ]:
interest_df = pd.read_html(interest_url)
interest_df[0]

      구분    3월    6월    9월    1년  1년6월    2년    3년    5년
0    국고채  0.51  0.63  0.81  0.93  1.10  1.30  1.49  1.74
1    AAA  0.85  0.95  1.11  1.20  1.34  1.56  1.74  2.02
2    AA+  0.91  0.99  1.15  1.23  1.38  1.59  1.79  2.07
3     AA  0.95  1.02  1.19  1.26  1.41  1.62  1.83  2.13
4    AA-  0.98  1.04  1.21  1.29  1.43  1.66  1.86  2.23
5     A+  1.17  1.24  1.41  1.47  1.60  1.77  2.03  2.64
6      A  1.31  1.39  1.58  1.65  1.78  1.98  2.34  3.09
7     A-  1.54  1.63  1.84  1.92  2.08  2.35  2.79  3.70
8   BBB+  2.17  2.60  3.12  3.38  3.87  4.58  5.35  5.77
9    BBB  2.55  3.10  3.70  4.05  4.68  5.52  6.40  6.82
10  BBB-  3.23  3.90  4.63  5.03  5.79  6.67  7.76  8.24

In [ ]:
interest_df[-1]

                  사채명 분류                 사채명 분류.1
0             SB : 무보증사채                GB : 보증사채
1         SBS : 후순위무보증사채            GBS : 후순위보증사채
2   SFB : 중소기업외국인전용무보증사채             GCB : 보증전환사채
3          FRN : 변동금리부사채             SECB : 담보부사채
4              CB : 전환사채              DR : 주식예탁증서
5           CB2 : 해외전환사채  HB : 하이브리드채권(채권형신종자본증권)
6          SCB : 무보증전환사채           SOC : 사회간접자본채권
7      SSCB : 후순위무보증전환사채             STB : 전자단기사채
8         BW1 : 신주인수권부사채     ABSTB : 자산유동화 전자단기사채
9       BW2 : 해외신주인수권부사채         PRJ : 프로젝트파이낸스채권
10     BWS : 후순위신주인수권부사채                PFB : 특수채
11             PP : 사모사채             DLB : 파생결합사채
12             EB : 교환사채         SDLB : 후순위파생결합사채
13          FEB : 해외교환사채         ELB : 주가연계파생결합사채
14           GR : 보증기관평가                      NaN

In [ ]:
interest_df[1]

      구분     3월     6월     9월     1년   1년6월     2년     3년     5년
0    국고채  0.51%  0.63%  0.81%  0.93%  1.10%  1.30%  1.49%  1.74%
1    AAA     34     32     30     27     24     26     25     28
2    AA+     40     36     34     30     28     29     30     33
3     AA     44     39     38     33     31     32     34     39
4    AA-     47     41     40     36     33     36     37     49
5     A+     66     61     60     54     50     47     54     90
6      A     80     76     77     72     68     68     85    135
7     A-    103    100    103     99     98    105    130    196
8   BBB+    166    197    231    245    277    328    386    403
9    BBB    204    247    289    312    358    422    491    508
10  BBB-    272    327    382    410    469    537    627    650

In [ ]:
#set_index -> 숫자가 아닌 특정한 컬럼명으로 리스트에 접근할 수 있게 함
IR_df = interest_df[0].set_index('구분')

In [ ]:
IR_df.loc['BBB', '6월']

3.1

In [ ]:
IR_df.loc['국고채', '5년']

1.74

In [ ]:
#가장 최신 데이터만 가져오기 때문에 다른 날의 데이터 가져오고 싶으면 날짜를 바꿔야함

In [ ]:
import pandas as pd
import requests

In [ ]:
#2021.07.12의 데이터
data = {'startDt' : '2021.07.12'}
binary = requests.post(interest_url, data=data).text
pd.read_html(binary)[0].set_index('구분')

        3월    6월    9월    1년  1년6월    2년    3년    5년
구분
국고채   0.48  0.59  0.76  0.85  1.03  1.20  1.39  1.69
AAA   0.82  0.90  1.05  1.13  1.26  1.46  1.65  1.99
AA+   0.88  0.94  1.09  1.15  1.30  1.48  1.69  2.03
AA    0.92  0.97  1.12  1.19  1.33  1.52  1.73  2.09
AA-   0.94  0.99  1.15  1.22  1.35  1.55  1.76  2.20
A+    1.14  1.19  1.35  1.39  1.52  1.67  1.93  2.60
A     1.28  1.34  1.51  1.57  1.70  1.88  2.23  3.05
A-    1.50  1.58  1.77  1.84  2.00  2.24  2.69  3.66
BBB+  2.14  2.55  3.05  3.30  3.79  4.47  5.25  5.73
BBB   2.52  3.05  3.63  3.97  4.60  5.41  6.29  6.78
BBB-  3.19  3.85  4.57  4.96  5.71  6.56  7.66  8.20